
@{
    ViewBag.Title = "Teasers - Under Construction";
}

<h2>@ViewBag.Title</h2>
<h3>Coming Soon!</h3>
<p>This entire section will be dedicated to my future projects and all the delightful strangeness that entails!</p>

